// colors
$white: #ffffff;
$black: #000000;

$lightGray: #eeeeee;
$gray: #999999;
$darkGray: #555555;

$borderColor: #444444;
$bodyColor: #666666;


// fonts
$fontArial: Arial, sans-serif;
$baseFont: normal 16px/20px $fontArial;


#PerfTest {
    display: none;
    position: fixed;
    right: 20px;
    top: 0;
    width: 782px;
    height: 500px;
    max-height: 500px;
    padding: 0 20px 20px 20px;
    margin: 0;
    border: 1px solid $borderColor;
    border-top: none;
    z-index: 99999;
    background: transparentize($white, 0.1);
    color: $bodyColor;
    font: $baseFont;
//    overflow-y: scroll;
//    resize: both;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    &.show {
        display: block;
    }

//    nav
    nav {
        ul {
            margin: 0 -20px;
            padding: 0;
            background: $darkGray;
        }

        li {
            cursor: pointer;
            font-weight: normal;
            color: $lightGray;
            display: inline-block;
            padding: 10px;
            border-right: 1px solid $white;
            width: auto;

            &:hover {
                color: $white;
            }

            &.active {
                background-color: $black;
                color: $white;
                font-weight: bold;
            }
        }
    }

    .close {
        cursor: pointer ;
        position: absolute;
        right: 0;
        top: 0;
        color: $lightGray;
        padding: 10px;
        font-weight: bold;
    }

    .PerfTest-Content-Module {
        display: none;

        &.active {
            display: block;
        }
    }

    // ### begin Dashboard styles ### //
    .PerfTest-Dashboard {
        h3 {
            font: bold 16px Arial, sans-serif;
        }
        .PerfTest-Dashboard-Module {
            float: left;
            width: 350px;
            margin: 10px;
            padding: 10px;
            height: 200px;
            background-color: $lightGray;
        }
        .PerfTest-Module-PageSummary {
            margin-left: 25%;
        }
        .PerfTest-Module-TopOffenders {
            li {
                float: none;
                clear: both;
                padding: 5px 0;
            }
            .TopOffenders-ratio {
                font-weight: bold;
                float: left;
                width: 40px;
            }
            .TopOffenders-url {
                float: left;
                max-width: 270px;
                overflow: hidden;
            }
        }
    }

    // ### begin PageSummary style ### //
    .PerfTest-Module-PageSummary {
        svg {
            display: block;
            margin: 0 auto;
        }
    }

    // ### begin TopOffenders style ### //
}
